@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@media only screen and (max-width: 999px) {
  section {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .desktop {
    display: none !important;
  }
  .links-anchors {
    padding: 0%;
    font-size: 24px !important;
  }
  #home {
    margin-left: 0% !important;
    align-items: center;
  }
  #names {
    text-align: center;
    height: 70px;
  }
  #names label {
    text-align: center;
    font-size: 60px !important;
  }
  #subtitle {
    text-align: center !important;
  }
  #subtitle label {
    font-size: 25px !important;
  }
  #redes {
    text-align: center;
  }
  #container-navbar {
    text-align: center;
  }
  #container-navbar .navbar-brand {
    color: #cecdcd;
  }
  #redes a {
    font-size: 50px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
@media only screen and (max-width: 511px) {
  #educacao-ecomp{
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 400px) {
  #names {
    text-align: center;
    height: 60px;
  }
  #names label {
    text-align: center;
    font-size: 50px !important;
  }
  #subtitle label {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 345px) {
  #names label {
    font-size: 45px !important;
  }
  #subtitle label {
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 368px) {
  #educacao-ecomp{
    font-size: 19px !important;
  }
}
@media only screen and (min-width: 285px) {
  .mobile-min {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .mobile {
    display: none !important;
  }
}

body {
  color: #d0d3d3;
  background: rgb(0, 12, 8);
  background: linear-gradient(
    90deg,
    rgba(0, 18, 12, 1) 20%,
    rgba(0, 0, 0, 1) 100%
  );
}
section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.horizontal {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.font-mont {
  font-family: Montserrat;
}
.font-staat {
  font-family: Staatliches;
}
.myyellow-background {
  background-color: #ffdf31 !important;
}
.mygreen-background {
  background-color: #00764c !important;
}
.mygrey-background {
  background-color: #d0d3d3 !important;
}
.myyellow-text {
  color: #ffdf31 !important;
}
.mygreen-text {
  color: #00764c !important;
}
.mygrey-text {
  color: #d0d3d3 !important;
}
.radius-circle {
  border-bottom-left-radius: 200px !important;
}
.texts-inside {
  color: #d0d3d3 !important;
  font-size: 21px;
}
.links-anchors {
  text-decoration: none;
  font-size: 40px;
  color: #cecdcd !important;
  font-family: "Bebas Neue";
}
.links-anchors:focus {
  color: #00764c !important;
}
.name-lastname {
  font-family: Staatliches;
  font-size: 119px;
  height: 80px;
}
.tags {
  font-size: 18px;
  color: #505252;
}
.tags i {
  font-size: 14px !important;
}
#avatar {
  margin-top: 16%;
  border: solid 7px;
  width: 70% !important;
}
#home {
  margin-left: 25%;
}
#mynav {
  font-family: Staatliches;
  height: 100% !important;
}
#redes {
  font-size: 47px;
}
#subtitle {
  font-size: 24px !important;
  font-family: "Bebas Neue";
}
#card-github {
  width: 10% !important;
}
#sobre {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
#educacao-ecomp {
  font-size: 30px;
  /* font-weight: 600; */
  height: 43px;
}
#educacao-ecomp i {
  font-size: 25px;
}
#educacao-uefs {
  font-size: 18px;
}
#calendar-arrow {
  margin-bottom: 0px;
  margin-left: 3px !important;
  margin-right: 6px !important;
}
#line{
  background: #FFFFFF !important;
}
#table-educacao{
  margin-left: 14px !important;
}