@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@media only screen and (max-width: 999px) {
  section {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .desktop {
    display: none !important;
  }
  .links-anchors {
    padding: 0%;
    font-size: 24px !important;
  }
  #home {
    margin-left: 0% !important;
    align-items: center;
  }
  #names {
    text-align: center;
    height: 70px;
  }
  #names label {
    text-align: center;
    font-size: 60px !important;
  }
  #subtitle {
    text-align: center !important;
  }
  #subtitle label {
    font-size: 25px !important;
  }
  #redes {
    text-align: center;
  }
  #container-navbar {
    text-align: center;
  }
  #container-navbar .navbar-brand {
    color: #cecdcd;
  }
  #redes a {
    font-size: 50px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
@media only screen and (max-width: 511px) {
  #educacao-ecomp {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 400px) {
  #names {
    text-align: center;
    height: 60px;
  }
  #names label {
    text-align: center;
    font-size: 50px !important;
  }
  #subtitle label {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 345px) {
  #names label {
    font-size: 45px !important;
  }
  #subtitle label {
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 368px) {
  #educacao-ecomp {
    font-size: 19px !important;
  }
}
@media only screen and (min-width: 1000px) {
  .mobile {
    display: none !important;
  }
  .subtopicos {
    margin-left: 20px !important;
  }
}
@media only screen and (min-width: 285px) {
  .mobile-min {
    display: none;
  }
}

body {
  color: #d0d3d3;
  background: rgb(0, 12, 8);
  background: linear-gradient(
    90deg,
    rgba(0, 18, 12, 1) 20%,
    rgba(0, 0, 0, 1) 100%
  );
}
section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.horizontal {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.font-mont {
  font-family: Montserrat;
}
.font-staat {
  font-family: Staatliches;
}
.myyellow-text {
  color: #ffdf31 !important;
}
.mygreen-text {
  color: #00764c !important;
}
.texts-inside {
  color: #d0d3d3 !important;
  font-size: 21px;
}
.subtopicos-name {
  font-size: 30px;
  height: 43px;
}
.subtopicos-name i {
  font-size: 25px;
}
.subtopicos-table {
  margin-left: 14px !important;
}

/* NAVBAR */
.links-anchors {
  text-decoration: none;
  font-size: 40px;
  color: #cecdcd !important;
  font-family: "Bebas Neue";
}
.links-anchors:focus {
  color: #00764c !important;
}
.name-lastname {
  font-family: Staatliches;
  font-size: 119px;
  height: 80px;
}
#avatar {
  margin-top: 16%;
  border: solid 7px;
  width: 70% !important;
}

/* Section : Home/Topo */
#home {
  margin-left: 25%;
}
#mynav {
  font-family: Staatliches;
  height: 100% !important;
}
#redes {
  font-size: 47px;
}
#subtitle {
  font-size: 24px !important;
  font-family: "Bebas Neue";
}

/* Section : Sobre */
#sobre {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

/* Section : Educação */
.tags {
  font-size: 18px;
  color: #505252;
}
.tags i {
  font-size: 14px !important;
}
#educacao-uefs {
  font-size: 18px;
}
#calendar-arrow {
  margin-bottom: 0px;
  margin-left: 3px !important;
  margin-right: 6px !important;
}
#line {
  background: #ffffff !important;
}

/* Section : Habilidades */
.skills-icons {
  font-size: 22px !important;
  /* font-weight: 600; */
  color: #ffffff;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* background-color: #5052524d; */
  border-radius: 20px;
}
.skills-icons:hover {
  transition: all 300ms ease;
}
.sub-subtopico{
  font-size: 20px !important;
}
#back-laravel {
  background-color: #FF2D204d;
}
#back-laravel:hover {
  background-color: #FF2D20;
}
#back-php {
  background-color: #7478ae4d;
}
#back-php:hover {
  background-color: #7478ae;
}
#back-js {
  background-color: #f7df1e4d;
}
#back-js:hover {
  background-color: #f7df1e;
}
#back-html {
  background: #E44D264d;
}
#back-html:hover {
  background: #E44D26;
}
#back-css {
  background: #2965F14d;
}
#back-css:hover {
  background: #2965F1;
}
#back-bootstrap {
  background-color: #7952B34d;
}
#back-bootstrap:hover {
  background-color: #7952B3;
}
#back-react {
  background-color: #53C1DE4d;
}
#back-react:hover {
  background-color: #53C1DE;
}
#back-node {
  background-color: #026E004d;
}
#back-node:hover {
  background-color: #026E00;
}
#back-flutter {
  background-color: #46D1FD4d;
}
#back-flutter:hover {
  background-color: #46D1FD;
}
#back-mysql{
  background-color: #00758F4d;
}
#back-mysql:hover {
  background-color: #00758F;
}
#back-sqlite{
  background-color: #0E7EC94d;
}
#back-sqlite:hover {
  background-color: #0E7EC9;
}
#back-python {
  background-color: #1E415F4d;
}
#back-python:hover {
  background-color: #1E415F;
}
#back-java {
  background-color: #ED20244d;
}
#back-java:hover {
  background-color: #ED2024;
}
#back-c {
  background-color: #6396CD4d;
}
#back-c:hover {
  background-color: #6396CD;
}
#back-git{
  background-color: #F54D274d;
}
#back-git:hover{
  background-color: #F54D27;
}
#back-github{
  background-color: #24292E4d;
}
#back-github:hover{
  background-color: #24292E;
}
#back-latex{
  background-color: #0080804d;
}
#back-latex:hover{
  background-color: #008080;
}
#back-ps{
  background-color: #1804654d;
}
#back-ps:hover{
  background-color: #180465;
}

